@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #282D33;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, a::-moz-selection, span::-moz-selection, div::-moz-selection, img::-moz-selection, mark::-moz-selection, ul::-moz-selection, li::-moz-selection {
  color: #fff;
  background-color: #282D33;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection {
  color: #fff;
  background-color: #282D33;
}

::-moz-selection {
  color: #fff;
  background-color: #282D33;
}

::selection {
  color: #fff;
  background-color: #282D33;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

a {
  color: #282D33;
}

a:hover {
  color: #A84685;
}

button {
  border: transparent;
  background: none;
}

option {
  color: #282D33;
}

textarea {
  resize: none;
  overflow: hidden;
}

textarea::-webkit-input-placeholder {
  color: #282D33;
}

textarea::-moz-placeholder {
  color: #282D33;
}

textarea:-ms-input-placeholder {
  color: #282D33;
}

textarea::-ms-input-placeholder {
  color: #282D33;
}

textarea::placeholder {
  color: #282D33;
}

input,
textarea,
select {
  color: #282D33;
  font-size: 16px;
  padding: 15px 30px 15px 60px;
  border-radius: 2px;
  background-color: #F8F8F8;
  border: 1px solid #D0D0D0;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder {
  color: #686868;
}

input[type="text"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="tel"]::-moz-placeholder {
  color: #686868;
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder {
  color: #686868;
}

input[type="text"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder {
  color: #686868;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: #686868;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  color: #282D33;
  -webkit-box-shadow: inset 0 0 0px 1px #8B326B;
          box-shadow: inset 0 0 0px 1px #8B326B;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.form-group {
  position: relative;
}

.form-group input {
  width: 100%;
}

.form-group__icon {
  fill: #686868;
  position: absolute;
  left: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-bottom: 0;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 20px;
  cursor: pointer;
}

.checkbox .checkbox__text {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  width: 100%;
  height: 30px;
  display: block;
}

.checkbox .checkbox__text::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #c3c2c2;
  background: #fff;
}

.checkbox .checkbox__text::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 2px;
  width: 12px;
  height: 12px;
  background-color: #8B326B;
  border-radius: 2px;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.checkbox .checkbox__text a {
  color: #8B326B;
  text-decoration: underline;
  position: relative;
  z-index: 2;
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:after,
.checkbox input[type="radio"]:checked + .checkbox__text:after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox input[type="checkbox"]:checked + .checkbox__text:before,
.checkbox input[type="radio"]:checked + .checkbox__text:before {
  background-color: #fff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.shd {
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.shd:hover {
  -webkit-box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
          box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25);
}

.b {
  font-weight: 600;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left !important;
}

.und {
  text-decoration: underline;
}

.upp {
  text-transform: uppercase;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 30px;
  color: #fff;
  background-color: #8B326B;
  border: 1px solid #A84685;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0 2px 0 #561E42;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0 2px 0 #561E42;
  border-radius: 5px;
  outline: none;
  display: inline-block;
  min-width: 192px;
}

.btn:hover {
  color: #fff;
  background-color: #8B326B;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), -1px 8px 0 #561E42;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), -1px 8px 0 #561E42;
}

.list_circle {
  list-style-type: none;
  padding-left: 0;
}

.list_circle li {
  padding-left: 25px;
  position: relative;
}

.list_circle li {
  margin-bottom: 10px;
}

.list_circle li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #EE414F;
  left: 0;
  top: 8px;
  border-radius: 50%;
}

.list_string {
  list-style-type: none;
  padding-left: 0;
}

.list_string li {
  padding-left: 25px;
  position: relative;
}

.list_string li {
  margin-bottom: 10px;
}

.list_string li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 1px;
  background-color: #282D33;
  left: 0;
  top: 9px;
}

.list_num {
  padding-left: 0;
  counter-reset: list1;
}

.list_num li {
  list-style-type: none;
}

.list_num li {
  margin-bottom: 10px;
}

.list_num li::before {
  counter-increment: list1;
  content: counter(list1);
  color: #8B326B;
  font-size: 16px;
  font-weight: 600;
  margin-right: 15px;
}

.popup__container {
  padding: 40px;
  background-color: transparent;
}

.popup__container .fancybox-close-small {
  top: 40px;
  right: 40px;
  color: #000;
}

.popup__container .popup__wrp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.popup__container .popup__wrp::before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 110%;
  width: 110%;
  top: -5%;
  right: -5%;
  bottom: -5%;
  left: -5%;
  z-index: 1;
  background-color: #282D33;
  opacity: .7;
}

.popup__container .popup_call__wrp {
  max-width: 320px;
}

.popup__container .popup_call__wrp .popup {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  color: #282D33;
  padding: 20px 25px 30px;
  text-align: center;
}

.popup__container .popup_call__wrp .popup__ttl {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 30px;
}

.popup__container .popup_call__wrp .popup .form__input {
  border: 1px solid #282D33;
  color: #282D33;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup input.form__input::-webkit-input-placeholder {
  color: #282D33;
}

.popup__container .popup_call__wrp .popup input.form__input::-moz-placeholder {
  color: #282D33;
}

.popup__container .popup_call__wrp .popup input.form__input:-ms-input-placeholder {
  color: #282D33;
}

.popup__container .popup_call__wrp .popup input.form__input::-ms-input-placeholder {
  color: #282D33;
}

.popup__container .popup_call__wrp .popup input.form__input::placeholder {
  color: #282D33;
}

.popup__container .popup_call__wrp .popup .btn {
  width: 100%;
  margin-bottom: 15px;
}

.popup__container .popup_call__wrp .popup__policy {
  margin-top: 15px;
  max-width: 230px;
  text-align: center;
  font-size: 12px;
}

.popup__container .popup_call__wrp .popup__policy a {
  font-size: 12px;
  color: #00BFF3;
}

.section_inner {
  padding: 60px 0;
}

.section__ttl {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.section__subttl {
  font-size: 38px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: .5px;
  margin-bottom: 20px;
}

.preloader {
  display: inline-block;
  position: relative;
}

.preloader svg {
  fill: #8B326B;
  width: 300px;
  height: 90px;
}

.preloader__wrp {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
  min-height: 15vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.header__logo svg {
  fill: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__logo:hover svg {
  opacity: .8;
}

.header__nav {
  margin-bottom: 2px;
  margin-left: 50px;
}

.header__nav-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header__nav-link:not(:last-child) {
  margin-right: 14px;
}

.header__nav-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.header__login-btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login-btn svg {
  fill: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.header__login-btn:hover svg {
  fill: #A84685;
}

.banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.banner__bg {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../img/banner__bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner__in {
  position: relative;
  color: #fff;
  min-height: 85vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
}

.banner__ttl {
  max-width: 920px;
}

.banner__descr {
  max-width: 920px;
  font-size: 22px;
}

.banner__descr-link {
  color: #fff;
  font-style: italic;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.banner__descr-link:hover {
  color: #fff;
  border-bottom-color: transparent;
}

.profit__card {
  position: relative;
  padding: 60px 43px;
  margin-top: -110px;
}

.profit__card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 15px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.profit__card > * {
  position: relative;
}

.profit__subttl {
  max-width: 380px;
}

.profit__ttl {
  position: absolute;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.profit__ttl-wrp {
  position: relative;
  min-height: 132px;
  margin-bottom: 25px;
}

.profit__calc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 220px 0 20px;
}

.profit__calc-group label {
  font-size: 18px;
}

.profit__calc-group input[type="range"] {
  padding-top: 0;
  padding-bottom: 0;
}

.profit__calc-btn {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #F4F4F4;
}

.profit__calc-val {
  font-size: 14px;
  color: #686868;
}

.profit__calc-res {
  font-size: 26px;
}

.profit__calc-res-val {
  font-weight: 600;
  color: #8B326B;
}

.pay {
  overflow: hidden;
}

.pay__img-wrp {
  position: relative;
  height: 100%;
  min-height: 850px;
  padding-bottom: 10px;
}

.pay__img_1 {
  position: relative;
  z-index: 1;
}

.pay__img_2 {
  position: absolute;
  bottom: 0;
}

.pay__card {
  position: relative;
  z-index: 1;
  padding: 60px 43px;
}

.pay__card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  right: 15px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transform: matrix3d(1, 0, 0, -0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, -0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.pay__card > * {
  position: relative;
}

.pay__subttl {
  max-width: 380px;
}

.pay__ttl {
  position: absolute;
  right: 0;
  top: 0;
  width: 970px;
  margin-bottom: 0;
}

.pay__ttl-wrp {
  position: relative;
  min-height: 62px;
  margin-bottom: 25px;
}

.dia {
  overflow: hidden;
}

.dia__card {
  position: relative;
  z-index: 1;
  padding: 60px 43px;
}

.dia__card::before {
  position: absolute;
  content: '';
  width: 715px;
  height: 100%;
  left: 15px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  z-index: 1;
}

.dia__card-img {
  position: absolute;
  content: '';
  width: 967px;
  height: 400px;
  bottom: -270px;
  right: 0;
  z-index: 0;
}

.dia__card > * {
  position: relative;
  z-index: 1;
}

.dia__descr {
  max-width: 440px;
}

.dia__img-wrp {
  position: relative;
  z-index: 1;
  padding-bottom: 110px;
  margin-top: -220px;
}

.dia__img_1 {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  display: block;
  z-index: 1;
}

.feed {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.feed__card {
  position: relative;
  padding: 60px 0;
}

.feed__card-in {
  position: relative;
  padding-left: 30px;
  z-index: 1;
}

.feed__card::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 50px;
  top: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          transform: matrix3d(1, 0, 0, 0.0002, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.feed__card > * {
  position: relative;
}

.feed__form {
  max-width: 470px;
}

.feed__form-descr {
  font-size: 15px;
  color: #686868;
}

.feed__img {
  position: absolute;
  right: 0;
  bottom: -51px;
  width: 550px;
  -webkit-transform: rotate(-2.5deg);
      -ms-transform: rotate(-2.5deg);
          transform: rotate(-2.5deg);
}

.feed__img-wrp {
  position: relative;
  height: 100%;
}

.footer {
  background-image: url("../img/footer__bg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0 60px;
  margin-top: -110px;
}

.footer__nav {
  margin-bottom: 30px;
}

.footer__nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid transparent;
}

.footer__nav-link:not(:last-child) {
  margin-right: 14px;
}

.footer__nav-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.footer__logo svg {
  fill: #fff;
  -webkit-transition: .4s all ease;
  -o-transition: .4s all ease;
  transition: .4s all ease;
}

.footer__logo:hover svg {
  fill: #A84685;
}

.footer__copy {
  color: #fff;
  margin-bottom: 2px;
  margin-left: 50px;
}

.footer__soc {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__soc:hover {
  background-color: #8B326B;
  border-color: #8B326B;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 2px 0px #561E42;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 2px 0px #561E42;
}
