@import "../fonts/fonts.css"
$dark: #282D33
$purple: #8B326B
$lpurple: #A84685
$tr: transparent
$gr: #686868

@mixin ct
	background-position: 50% 50%
	background-size: contain
	background-repeat: no-repeat
@mixin cv
	background-position: 50% 50%
	background-size: cover
	background-repeat: no-repeat
@mixin ovl
	content: ''
	position: absolute
	width: 100%
	height: 100%
	left: 0
	top: 0
@mixin ease
	transition: .4s all ease
@mixin r($width)
	@media only screen and (max-width: $width + "px")
		@content

body
	scroll-behavior: smooth
	background-color: #F4F4F4
	font-family: 'Roboto', sans-serif
	font-weight: 300
	color: $dark
	font-size: 18px
	line-height: 1.4
	position: relative
	-webkit-font-smoothing: antialiased
h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, a::selection, span::selection, div::selection, img::selection, mark::selection, ul::selection, li::selection
	color: #fff
	background-color: $dark
::selection
	color: #fff
	background-color: $dark
a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, .btn, .btn:after, select:focus, select:active
	text-decoration: none
	outline: none
	transition: all 0.4s ease
	cursor: pointer
a
	color: $dark
	&:hover
		color: $lpurple
button
	border: transparent
	background: none
option
	color: $dark
textarea
	resize: none
	overflow: hidden
	&::placeholder
		color: $dark
input,
textarea,
select
	color: $dark
	font-size: 16px
	padding: 15px 30px 15px 60px
	border-radius: 2px
	background-color: #F8F8F8
	border: 1px solid #D0D0D0
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder
	color: #686868
input:focus,
textarea:focus,
input:active,
textarea:active
	color: $dark
	box-shadow: inset 0 0 0px 1px #8B326B
	outline: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none
input[type="number"]
	-moz-appearance: textfield
	appearance: textfield
.form-group
	position: relative
	input
		width: 100%
	&__icon
		fill: #686868
		position: absolute
		left: 22px
		top: 50%
		transform: translateY(-50%)
.checkbox
	cursor: pointer
	position: relative
	margin-bottom: 0
	input[type="checkbox"],
	input[type="radio"]
		position: absolute
		z-index: 1
		opacity: 0
		width: 100%
		height: 20px
		cursor: pointer
	.checkbox__text
		font-size: 14px
		position: relative
		padding-left: 30px
		cursor: pointer
		width: 100%
		height: 30px
		display: block
		&::before
			content: ''
			position: absolute
			top: 0px
			left: -2px
			width: 20px
			height: 20px
			border-radius: 2px
			border: 1px solid #c3c2c2
			background: #fff
		&::after
			content: ''
			position: absolute
			top: 50%
			margin-top: -11px
			left: 2px
			width: 12px
			height: 12px
			background-color: $purple
			border-radius: 2px
			opacity: 0
			transform: scale(0)
			transition: 0.2s
		a
			color: $purple
			text-decoration: underline
			position: relative
			z-index: 2
	input[type="checkbox"]:checked + .checkbox__text:after,
	input[type="radio"]:checked + .checkbox__text:after
		opacity: 1
		transform: scale(1)
	input[type="checkbox"]:checked + .checkbox__text:before,
	input[type="radio"]:checked + .checkbox__text:before
		background-color: #fff
.img-fluid
	max-width: 100%
	height: auto
.shd
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
	&:hover
		box-shadow: 0 30px 40px rgba(0, 80, 147, 0.25)
.b
	font-weight: 600
.tac
	text-align: center
.tal
	text-align: left !important
.und
	text-decoration: underline
.upp
	text-transform: uppercase
.btn
	font-size: 14px
	font-weight: 600
	text-align: center
	text-transform: uppercase
	padding: 12px 30px
	color: #fff
	background-color: $purple
	border: 1px solid #A84685
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0 2px 0 #561E42
	border-radius: 5px
	outline: none
	display: inline-block
	min-width: 192px
	&:hover
		color: #fff
		background-color: $purple
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), -1px 8px 0 #561E42
.list
	&_circle
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 8px
				height: 8px
				background-color: #EE414F
				left: 0
				top: 8px
				border-radius: 50%
	&_string
		list-style-type: none
		padding-left: 0
		li
			padding-left: 25px
			position: relative
			&
				margin-bottom: 10px
			&::before
				content: ''
				position: absolute
				width: 12px
				height: 1px
				background-color: $dark
				left: 0
				top: 9px
	&_num
		padding-left: 0
		counter-reset: list1
		li
			list-style-type: none
			&
				margin-bottom: 10px
			&::before
				counter-increment: list1
				content: counter(list1)
				color: $purple
				font-size: 16px
				font-weight: 600
				margin-right: 15px

.popup__container
	padding: 40px
	background-color: transparent
	.fancybox-close-small
		top: 40px
		right: 40px
		color: #000
	.popup__wrp
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: center
		position: relative
		&::before
			z-index: 1
			content: ''
			position: absolute
			height: 110%
			width: 110%
			top: -5%
			right: -5%
			bottom: -5%
			left: -5%
			z-index: 1
			background-color: $dark
			opacity: .7
	.popup_call__wrp
		max-width: 320px
		.popup
			width: 100%
			height: 100%
			position: relative
			z-index: 2
			display: flex
			-webkit-flex-direction: column
			flex-direction: column
			align-items: center
			justify-content: flex-start
			background-color: #fff
			color: $dark
			padding: 20px 25px 30px
			text-align: center
			&__ttl
				font-weight: 600
				text-transform: uppercase
				font-size: 22px
				margin-bottom: 30px
			.form__input
				border: 1px solid $dark
				color: $dark
				margin-bottom: 15px
			input.form__input::placeholder
				color: $dark
			.btn
				width: 100%
				margin-bottom: 15px
			&__policy
				margin-top: 15px
				max-width: 230px
				text-align: center
				font-size: 12px
				a
					font-size: 12px 
					color: #00BFF3
.section
	&_inner
		padding: 60px 0
	&__ttl
		font-size: 60px
		font-weight: 400
		line-height: 1.1
		letter-spacing: 1px
		margin-bottom: 25px
		text-transform: uppercase
	&__subttl
		font-size: 38px
		font-weight: 100
		line-height: 1.2
		letter-spacing: .5px
		margin-bottom: 20px
.preloader
	display: inline-block
	position: relative
	svg
		fill: $purple
		width: 300px
		height: 90px
	&__wrp
		position: fixed
		width: 100vw
		height: 100vh
		left: 0
		top: 0
		right: 0
		bottom: 0
		z-index: 4
		background-color: #fff
		display: flex
		justify-content: center
		align-items: center

	//& > div
	//	position: absolute
	//	border: 4px solid $purple
	//	opacity: 1
	//	border-radius: 50%
	//	animation: preloader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite
	//	&:nth-child(2)
	//		animation-delay: -0.5s
//@keyframes preloader
//	0%
//		top: 36px
//		left: 36px
//		width: 0
//		height: 0
//		opacity: 1
//	100%
//		top: 0px
//		left: 0px
//		width: 72px
//		height: 72px
//		opacity: 0
.header
	position: relative
	min-height: 15vh
	display: flex
	align-items: center
	z-index: 1
	&__logo
		svg
			fill: #fff
			+ease
		&:hover
			svg
				opacity: .8
	&__nav
		margin-bottom: 2px
		margin-left: 50px
		&-link
			display: inline-block
			font-size: 16px
			font-weight: 500
			color: #fff
			border-bottom: 1px solid $tr
			&:not(:last-child)
				margin-right: 14px
			&:hover
				color: #fff
				border-bottom: 1px solid #fff
	&__login-btn
		font-size: 16px
		font-weight: 500
		color: #fff
		margin-right: 45px
		display: flex
		align-items: center
		svg
			fill: #fff
			+ease
		&:hover
			svg
				fill: $lpurple
//@keyframes expandBg
//	0%
//		transform: scale(1.3) translateX(-50px)
//	100%
//		transform: scale(1.3) translateX(0px)
.banner
	position: relative
	min-height: 100vh
	overflow: hidden
	&__bg
		+ovl
		background-image: url('../img/banner__bg.jpg')
		+cv
		//animation: expandBg 15s linear
		//animation-iteration-count: 1
		//animation-fill-mode: forwards
		//transform: scale(1.4)
	&__in
		position: relative
		color: #fff
		min-height: 85vh
		display: flex
		flex-direction: column
		justify-content: center
		align-items: flex-start
		z-index: 1
	&__ttl
		max-width: 920px
	&__descr
		max-width: 920px
		font-size: 22px
		&-link
			color: #fff
			font-style: italic
			font-weight: 300
			border-bottom: 1px solid #fff
			cursor: pointer
			&:hover
				color: #fff
				border-bottom-color: $tr
.profit
	&__card
		position: relative
		padding: 60px 43px
		margin-top: -110px
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			left: 15px
			top: 0
			bottom: 0
			background-color: #fff
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
			border-radius: 5px
			transform: matrix3d(1,0,0.00,0.0002,0.00,1,0.00,0.00,0,0,1,0,0,0,0,1)
		&>*
			position: relative
	&__subttl
		max-width: 380px
	&__ttl
		position: absolute
		left: 0
		top: 0
		margin-bottom: 0
		&-wrp
			position: relative
			min-height: 132px
			margin-bottom: 25px
	&__calc
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: flex-start
		padding: 220px 0 20px
		&-group
			label
				font-size: 18px
			input[type="range"]
				padding-top: 0
				padding-bottom: 0
		&-btn
			margin-left: auto
			margin-right: auto
			border: 1px solid #F4F4F4
		&-val
			font-size: 14px
			color: $gr
		&-res
			font-size: 26px
			&-val
				font-weight: 600
				color: $purple
.pay
	overflow: hidden
	&__img
		&-wrp
			position: relative
			height: 100%
			min-height: 850px
			padding-bottom: 10px
		&_1
			position: relative
			z-index: 1
		&_2
			position: absolute
			bottom: 0
	&__card
		position: relative
		z-index: 1
		padding: 60px 43px
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			right: 15px
			top: 0
			bottom: 0
			background-color: #fff
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
			border-radius: 5px
			transform: matrix3d(1,0,0.00,-0.0002,0.00,1,0.00,0.00,0,0,1,0,0,0,0,1)
		&>*
			position: relative
	&__subttl
		max-width: 380px
	&__ttl
		position: absolute
		right: 0
		top: 0
		width: 970px
		margin-bottom: 0
		&-wrp
			position: relative
			min-height: 62px
			margin-bottom: 25px

.dia
	overflow: hidden
	&__card
		position: relative
		z-index: 1
		padding: 60px 43px
		&::before
			position: absolute
			content: ''
			width: 715px
			height: 100%
			left: 15px
			top: 0
			bottom: 0
			background-color: #fff
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
			border-radius: 5px
			transform: matrix3d(1,0,0.00,0.0002,0.00,1,0.00,0.00,0,0,1,0,0,0,0,1)
			z-index: 1
		&-img
			position: absolute
			content: ''
			width: 967px
			height: 400px
			bottom: -270px
			right: 0
			z-index: 0
		&>*
			position: relative
			z-index: 1
	&__descr
		max-width: 440px
	&__img
		&-wrp
			position: relative
			z-index: 1
			padding-bottom: 110px
			margin-top: -220px
		&_1
			position: relative
			max-width: 600px
			margin-left: auto
			display: block
			z-index: 1
.feed
	position: relative
	overflow: hidden
	z-index: 1
	&__card
		position: relative
		padding: 60px 0
		&-in
			position: relative
			padding-left: 30px
			z-index: 1
		&::before
			position: absolute
			content: ''
			width: 100%
			height: 100%
			left: 50px
			top: 0
			bottom: 0
			background-color: #fff
			box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08)
			border-radius: 5px
			transform: matrix3d(1,0,0.00,0.0002,0.00,1,0.00,0.00,0,0,1,0,0,0,0,1)
		&>*
			position: relative
	&__form
		max-width: 470px
		&-descr
			font-size: 15px
			color: #686868
	&__img
		position: absolute
		right: 0
		bottom: -51px
		width: 550px
		transform: rotate(-2.5deg)
		&-wrp
			position: relative
			height: 100%
.footer
	background-image: url('../img/footer__bg.jpg')
	+cv
	padding: 120px 0 60px
	margin-top: -110px
	&__nav
		margin-bottom: 30px
		&-link
			font-size: 16px
			font-weight: 500
			color: #fff
			border-bottom: 1px solid $tr
			&:not(:last-child)
				margin-right: 14px
			&:hover
				color: #fff
				border-bottom: 1px solid #fff
	&__logo
		svg
			fill: #fff
			+ease
		&:hover
			svg
				fill: $lpurple
	&__copy
		color: #fff
		margin-bottom: 2px
		margin-left: 50px
	&__soc
		width: 40px
		height: 40px
		border: 1px solid #fff
		border-radius: 3px
		display: flex
		justify-content: center
		align-items: center
		&:hover
			background-color: $purple
			border-color: $purple
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2), 0px 2px 0px #561E42